{{#each this}}
	<li data-index="{{Index}}" data-key="{{LocalKey}}" {{#if IsDone}}class="done"{{/if}}>
		<div>
			<h1><span class="favoriateIndex">{{Index}}</span></h1>
			<p class="favoriateTitle">{{Title}}</p>
			<p>{{Author}} / {{Publisher}} / {{PublishYear}}</p>
			<a href="/Library/Details?url={{Url}}" data-role="button" data-inline="true" data-mini="true" data-theme="b" data-rel="dialog">详细信息</a>
		</div>
	</li>
{{/each}}
