@{
    Layout = null;
}

@{
    ViewBag.Title = "图书搜索";
}

<!DOCTYPE html>
<html lang="zh">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss")
        @Styles.Render("~/Content/gdut/search.css")

    </head>
	<body>
        <div data-role="page" id="search">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
				<div class="info">
					<a href="#favoriate" data-transition="none" data-role="button" data-inline="true" data-icon="arrow-l" data-theme="b">书单</a>
					<label class="keyword"></label>
					<input type="text" placeholder="搜索" data-inline="true" />
				</div>
				<div class="search">
					<input type="search" placeholder="关键字" />
					<a href="#" data-role="button" data-inline="true" data-theme="b" class="btn">搜索</a>
				</div>
				<div class="bookBanner ui-body-a">
					<a href="#" data-role="button" data-mini="true" class="back2Top">回到顶部</a>
					<p class="resultCount">搜索结果</p>
					<div class="clearfix"></div>
				</div>
            </div>

            <div data-role="content">
				<div data-role="popup" class="addIntoFavoriate" data-theme="e">
					<p>已加入到书单中<p>
				</div>
				<div data-role="popup" class="removeFromFavoriate" data-theme="e">
					<p>已从书单中移除<p>
				</div>
				<a href="#favoriate" data-role="button" data-theme="b" data-inline="true" class="openFavoriateBtn">我的书单</a>
				<ul data-role="listview" class="resultList"  data-theme="d"></ul>
				<a href="#" data-role="button" data-corners="false" class="moreBtn notLoading">
					<span class="moreText">更多</span>
					<img src="/Content/images/loading.gif" alt="loading" />
				</a>
            </div>
        </div>

		<div data-role="page" id="favoriate">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
				<div>
					<label class="myFavoriateTitle">我的书单</label>
					<a href="#search" data-transition="none" data-role="button" data-inline="true" data-icon="arrow-r" data-theme="b" data-iconpos="right" class="openSearch">搜索</a>
				</div>
			</div>
            <div data-role="content">
                <fieldset class="favoriateType" data-role="controlgroup" data-mini="true" data-type="horizontal">
                    <input type="radio" name="favoriateType" id="allFavoriate" value="all" checked="checked" />
                    <label for="allFavoriate">全部</label>

                    <input type="radio" name="favoriateType" id="activeFavoriate" value="active" />
                    <label for="activeFavoriate">未完成</label>

                    <input type="radio" name="favoriateType" id="doneFavoriate" value="done" />
                    <label for="doneFavoriate">已完成</label>
                </fieldset>
				<ul data-role="listview" class="favoriateList touch" data-theme="d"></ul>
			</div>
		</div>

		@Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
		@Scripts.Render("~/Scripts/handlebars.runtime.js")
		@Scripts.Render("~/Scripts/gdut/gdut.handlebars.js")
		@Scripts.Render("~/Scripts/gdut/search.js")

    </body>
</html>


